subject = {{ mailsubject }}
layout = "system"
==

Hi {{ mailsender }},

Contact Us Form Enquiry Details as follows:

{% for key, field in fields %}
{{ key}}: {{ field }}
{% endfor %}
==

<p>Hi <strong>{{ mailsender }}</strong>,</p>

<h3>Contact Us Form Enquiry Details as follows:</h3>
<ul>
{% for key, field in fields %}
   <li>{{ key}}: {{ field }}</li>
{% endfor %}
</ul>