description = "Page footer"

[menu footer_menu_first]
menu_id = 3

[menu footer_menu_second]
menu_id = 2

[viewBag]
==
<div class="mobile-footer-placeholder">
    <!--Empty div to extend content to fit above mobile footer-->
</div>
<div class="mobile-footer">
    <div class="container">
        <div class="row">
            <a href="/kalender">
                <div class="mobile-footer-button">
                    <i class="fas fa-calendar"></i><br>
                    <p>Kalender</p>
                </div>
            </a>
            <a href="/kalender">
                <div class="mobile-footer-button">
                    <i class="fas fa-trophy"></i><br>
                    <p>Wedstrijden</p>
                </div>
            </a>
            <a href="/kalender">
                <div class="mobile-footer-button">
                    <i class="fas fa-trophy"></i><br>
                    <p>Klassement</p>
                </div>
            </a>
            <a href="/kalender">
                <div class="mobile-footer-button">
                    <i class="fas fa-newspaper"></i>
                    <p>Nieuws</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="section section-footer">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-2 footer-links">
                <h3 class="title-footer">Links</h3>
                {% component "footer_menu_first" selected_item=this.page.title|lower selected_item_class="active"%}
            </div>
            <div class="col-sm-2 footer-h3-placeholder footer-links">
                {% component "footer_menu_second" selected_item=this.page.title|lower selected_item_class="active"%}
            </div>
            <div class="col-sm-4">
                <h3 class="title-footer">Uitslagen</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur atque enim, amet quis quod soluta
                necessitatibus possimus sapiente voluptate cumque, commodi deleniti repudiandae, nostrum tenetur
                voluptatem voluptas illo quae officiis?<br>
                <a href="#">Oudere uitslagen <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="col-sm-4">
                <h3 class="title-footer">Contact</h3>
                Vereniging Federatie Sloeproeien Nederland<br>
                Darinckdelversstraat 28, 3078 WE Rotterdam<br><br>
                IBAN: NL55 ABNA 045 261 0591<br>
                KvK: 40538583<br><br>
                <div class="contact-footer">
                    <a href="/contact"><span>Contact</span></a>
                </div>
            </div>
        </div>
        <div class="row copy">
            <div class="col-sm-8">
                &copy; 2020 - {{ "now"|date("Y") }} <a href="/copyright" class="cool-link">Deltion College</a>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</div>