description = "Header menu"

[viewBag]

[menu header_menu]
menu_id = 1
==
<nav id="layout-nav" class="navbar navbar-fixed-top navbar-autohide" role="navigation">
    <!--<div class="container">-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand hidden-sm" href="/"></a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
        {% component "header_menu" selected_item=this.page.title|lower
        before_children='<ul class="dropdown-menu"><a class="dropdown-toggle" data-toggle="dropdown" href="%1$s"></a>'
        after_children='</ul>'
        selected_item_class="active"%}
    </div>
    <!--</div>-->
</nav>