description = "Header menu search box"

[viewBag]

[siteSearchInclude]

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"
==
{% component 'siteSearchInclude' %}

<div class="menu-searchbox hidden-md hidden-sm d-none d-lg-block" >  
    <form class="navbar-form" role="search" action="{{ 'zoekpagina' | page }}" method="get">
        <div class="input-group">
            <input name="q" class="form-control" type="text" placeholder="Zoeken..." autocomplete="off">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>