<h2>
    <b>Aanleidingen</b>
</h2>
<p>
    5 aanleidingen waardoor de sloep (opnieuw) gesleept moet worden:
</p>
<ul>
    <li>
        De geldigheid van de Cw-kromme verloopt na 6 jaar. De sleepdatum staat in het sloepenregister onder de kolom Sleepdatum (in format: 'jjmmdd'), sloepen die in 2015 of eerder zijn gesleept moeten opnieuw gesleept worden.
    </li>
    <li>
        De sloep heeft een relevante modificatie ondergaan. Daarover is alles te vinden in het FSN reglement, deel 2 technisch gedeelte, artikel 7. In geval van twijfel kun je het beste contact met de SKC opnemen.
    </li>
    <li>
        De sloep is geschorst (sanctie)
    </li>
    <li>
        De sloep wordt door de SKC opgeroepen ter controle
    </li>
    <li>
        De sloep is vorig jaar landskampioen geworden.
    </li>
</ul>