<h2>
    <b>Locatie slepen</b>
</h2>
<p>
    Marina Stavoren, Middelweg 15, 8715 ET, Stavoren
</p>
<p>
    Plan tijdig: breng de laatste verflaag op het onderwaterschip uiterlijk half februari aan! Houten sloepen: tenminste een paar weken tevoren in het water leggen, zodat eventuele lekken tussen de planken kunnen dichttrekken, een lekke sloep wordt niet gesleept. Maak de sloep onder water goed schoon en glad, een sloep met vuil onderwaterschip wordt niet gesleept. De actuele versie van het sloepenregister is hier geplaatst.
</p>