<p>
    Door Covid-19 komt het slepen in 2021 onder druk, maar we proberen in ieder geval alle echt noodzakelijke slepen door te laten gaan op 6-7 maart (reservedatum 13-14 maart):
</p>
<ul>
    <li>
        nieuwe sloepen
    </li>
    <li>
        sloepen die relevant zijn aangepast (zie het reglement wat ‘relevant’ is)
    </li>
    <li>
        sloepen die groot onderhoud of fikse reparaties hebben gehad (vaak ook lichter of zwaarder geworden)
    </li>
</ul>
<p>
    Voor andere redenen gaan we natuurlijk ook slepen als het weer kan, maar daarvoor moeten we de ontwikkelingen afwachten.
</p>
<p>
    Sloepen die we voor behoud van hun CW waarde in ieder geval verwachten in 2021 zijn:
</p>
<ul>
    <li>
        Altied Wad (FSN227)
    </li>
    <li>
        Betterskip (FSN241)
    </li>
    <li>
        Blauwe Bootje, 't (FSN229)
    </li>
    <li>
        Dwars in den Weg (FSN242)
    </li>
    <li>
        Kracht (FSN243)
    </li>
    <li>
        Toewijding (FSN246)
    </li>
    <li>
        Verbondenheid (FSN247)
    </li>
</ul>