<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    {% if result %}
    <div style="padding: 10px; border: 1px solid #ccc; float: left; width: 100%; font-weight: 700;    color: green;}">{{ result }}</div>
    {% endif %}
    <h2>{{ formInfo.contactForm }}</h2>
    <form name="frm" id="frm" method="post">
        <input type="hidden" name="mailto" value="{{ formInfo.mailto }}">
        <input type="hidden" name="mailfrom" value="{{ formInfo.mailfrom }}">
        <input type="hidden" name="mailsubject" value="{{ formInfo.mailsubject }}">
        <input type="hidden" name="mailsender" value="{{ formInfo.mailsender }}">
        <input type="hidden" name="mail_success" value="{{ formInfo.mail_success }}">
        <input type="hidden" name="mail_failed" value="{{ formInfo.mail_failed }}">
        {% for field in formInfo.fields %}
            {% if field.is_visible%}
            <div class="form-group">
                <label>{{ field.label }}:</label>
                {% if field.field_type == 'textarea' %}
                <textarea class="form-control {{ field.classes }}" id="{{ field.field_name }}" name="contact[{{ field.label }}]" {{ (field.is_required) ? 'required': '' }} {{ (field.custom_attribute) ? field.custom_attribute: '' }} placeholder="{{ field.placeholder }}">{{ field.default_value }}</textarea>
                {% elseif field.field_type == 'checkbox' %}

                {% for option in field.options %}
                <input type="checkbox" value="{{ option}}"  class=" {{ field.classes }}" id="{{ field.field_name }}" name="contact[{{ field.label }}][]" (field.custom_attribute) ? {{ field.custom_attribute }} : '' >{{ option}}
                {% endfor %}

                {% elseif field.field_type == 'radio' %}

                {% for option in field.options %}
                <input type="radio" value="{{ option}}"  class=" {{ field.classes }}" id="{{ field.field_name }}" name="contact[{{ field.label }}]" {{ (field.is_required) ? 'required': '' }} {{ (field.custom_attribute) ? field.custom_attribute: '' }}>{{ option}}
                {% endfor %}

                {% elseif field.field_type == 'dropdown' %}
                <select class="form-control {{ field.classes }}" id="{{ field.field_name }}" name="contact[{{ field.label }}]" {{ (field.is_required) ? 'required': '' }} {{ (field.custom_attribute) ? field.custom_attribute: '' }}>
                    <option value="">select</option>
                {% for option in field.options %}
                    <option value="{{ option}}">{{ option}}</option>
                {% endfor %}
                </select>
                {% else %}
                    <input type="{{ field.field_type }}" class="form-control {{ field.classes }}" id="{{ field.field_name }}" name="contact[{{ field.label }}]" {{ (field.is_required) ? 'required': '' }} {{ (field.custom_attribute) ? field.custom_attribute: '' }} placeholder="{{ field.placeholder }}" value="{{ field.default_value }}">
                {% endif %}

            </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>