title = "Bestuur"
url = "/bestuur"
layout = "defaulttemplate"
description = "Over het bestuur van Federatie Sloeproeien Nederland"
meta_title = "Bestuur"
meta_description = "Over het bestuur van Federatie Sloeproeien Nederland"
is_hidden = 0

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Het bestuur</h1>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Dick Borst</h4>
                <p>Voorzitter</p>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Nanette de Man</h4>
                <p>Secretariaat</p>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Ron Leen</h4>
                <p>Penningmeester</p>
                <a href="mailto:penningmeester@federatiesloeproeien.nl">
                    <button type="button" class="btn btn-success"><i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Mail</button>
                </a>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Jac Moes</h4>
                <p>Algemeen bestuurslid</p>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Thomas Zeelen</h4>
                <p>Algemeen bestuurslid</p>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Yvonne Hoeboer</h4>
                <p>Bestuurslid SKC</p>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Geeske Roorda-Bootsma</h4>
                <p>Bestuurslid wedstrijdcommissie</p>
            </div>
        </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title-bestuur">Wedstrijdcommissie</h3>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Dennis Klasen</h4>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Ed Both</h4>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Robert Nonnekes</h4>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Geeske Roorda-Bootsma</h4>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2 pt20">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Xandrijn Bakker</h4>
            </div>
        </div>
    </div>
</div>
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title-bestuur">Sleep- en Keurcommissie (SKC)</h3>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Alex Finnema</h4>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Jan Stam</h4>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Roland van Malsen</h4>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Yvonne Hoeboer</h4>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Richard Swart</h4>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Biem Onderwater</h4>
            </div>
        </div>
        <div class="row pt20">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Roelf Pot</h4>
            </div>
        </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Jelmer Bouma</h4>
                <p>Website beheer</p>
                <a href="mailto:penningmeester@federatiesloeproeien.nl">
                    <button type="button" class="btn btn-success"><i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Mail</button>
                </a>
            </div>
            <div class="col-sm-2">
                <img src="{{ 'assets/images/user.png'|theme }}" alt="bestuurslid" class="w100" />
            </div>
            <div class="col-sm-4 pt20">
                <h4>Roelf Pot</h4>
                <p>Support FSNuitslag! software</p>
                <a href="mailto:penningmeester@federatiesloeproeien.nl">
                    <button type="button" class="btn btn-success"><i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Mail</button>
                </a>
            </div>
        </div>
    </div>
</div>