title = "Contact"
url = "/contact"
layout = "defaulttemplate"
description = "Contactformulier Federatie Sloeproeien Nederland"
meta_title = "Contact"
meta_description = "Contactformulier Federatie Sloeproeien Nederland"
is_hidden = 0

[contenteditor]
file = "contact-text.htm"

[contactForm]
loadJS = 1

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}

<div class="section section-white">
    <div class="container container-padding">
    <h1 class="title-bold">Contact</h1>

    <section>
        {% component 'contenteditor' file='contact-desc.htm' tools='*'%}
    </section>

    <hr>
    
        {% component 'contactForm' %}
    

<!--     <form>
    <div class="form-group">
        <label for="name-contact">Naam</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Doe" name="name">
    </div>
    <div class="form-group">
        <label for="email-contact">Email Adres</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="naam@voorbeeld.com" name="email">
    </div>
    <div class="form-group">
        <label for="subject-contact">Onderwerp</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Informatie" name="subject">
    </div>
    <div class="form-group">
        <label for="textarea-contact">Bericht</label>
        <textarea class="form-control text-form" id="exampleFormControlTextarea1" rows="5" name="content"></textarea>
    </div>

    <button type="submit" name="submit" class="btn btn-primary">Verstuur</button>
</form> -->

        <div class="whitespace">
        </div>
    <section class="more-contactinfo">
        {% component 'contenteditor' file="contact-text.htm" tools="*"%}
    </section>

        <hr>

    </div>

</div>
