title = "Copyright"
url = "/copyright"
layout = "defaulttemplate"
description = "Copyright van de pagina"
is_hidden = 0

[contenteditor]
file = "contact-desc.htm"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Copyright</h1><br>
                <div class="download-links">
                    {% component 'contenteditor' file="copyright-text.htm"  tools="*" %}
                </div>
            </div>
        </div>
    </div>
</div>