title = "Links"
url = "/links"
layout = "defaulttemplate"
description = "Pagina met handige links"
meta_title = "Handige links"
meta_description = "Pagina met handige links"
is_hidden = 0

[contenteditor]
tools = "*"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Links</h1><br>
                {% component 'contenteditor' file="links/links-text1.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>