title = "Homepage"
url = "/"
layout = "homepage"
description = "Homepage van Federatie Sloeproeien Nederland"
meta_title = "Homepage"
meta_description = "Homepagina van Federatie Sloeproeien Nederland"
is_hidden = 0

[contenteditor]
tools = "*"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "categorie"
postPage = "nieuws-post"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white section-mobile-slider">
    <div class="container container-padding">
        <div class="row-eq-height row-slider">
            <div class="col-sm-3 mobile-slide">
                <h3 class="title-first">Kalender</h3>
                {% component 'contenteditor' file="homepage/homepage-kalender-text.htm"  tools="*" %}
                <a href="/kalender" class="cool-link">Ga naar kalender <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="col-sm-3 mobile-slide">
                <h3 class="title-first">Uitslagen</h3>
                {% component 'contenteditor' file="homepage/homepage-uitslagen-text.htm"  tools="*" %}
                <a href="/uitslagen" class="cool-link">Ga naar meerdere uitslagen <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="col-sm-3 mobile-slide">
                <h3 class="title-first">Klassement</h3>
                {% component 'contenteditor' file="homepage/homepage-klassement-text.htm"  tools="*" %}
                <a href="/klassement" class="cool-link">Ga naar meer klassement info <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="col-sm-3 col-nieuws mobile-slide">
                <h3 class="title-first">Recente nieuws</h3>
                <div class="no-decoration">
                    {% for post in posts %}
                    <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
                    <div class="excerpt">
                        <p>{{ str_limit(post.summary|striptags|raw, 155) }}</p>
                    </div>
                </div>
                <a href="{{post.url}}" class="cool-link">Lees meer<i class="fas fa-angle-double-right"></i></a>
                {% endfor %}
            </div>
        </div>
        <div class="mobile-slider-controls">
            <a class="ms-left-button" onclick="clickNext()"><i class="fas fa-angle-left"></i></a>
            <a class="ms-right-button" onclick="clickPref()"><i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-6">
                {% component 'contenteditor' file="homepage/homepage-slepen-text.htm"  tools="*" %}
                <a class="cool-link" href="/slepen">Lees meer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="col-sm-6">
                <img src="{{ 'assets/images/slepen.png'|theme }}" class="w100 slepen-img" />
            </div>
        </div>
    </div>
</div>