title = "Klassement"
url = "/klassement"
layout = "defaulttemplate"
description = "Klassement federatie sloeproeien"
is_hidden = 0

[contenteditor]
tools = "*"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Klassement</h1><br>
                {% component 'contenteditor' file="klassement/klassement-text1.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>