title = "Lid worden"
url = "/lid-worden"
layout = "defaulttemplate"
description = "Lid worden van Federatie Sloeproeien Nederland"
meta_title = "Lid Worden"
meta_description = "Lid worden van Federatie Sloeproeien Nederland"
is_hidden = 0

[contenteditor]
file = "lid-worden.htm"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Lid worden</h1><br>
                {% component 'contenteditor' file="lid-worden.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>