title = "Veelgestelde vragen"
url = "/veelgestelde-vragen"
layout = "defaulttemplate"
description = "Veelgeselde vragen"
meta_title = "Veelgestelde vragen"
meta_description = "Vind hier makkelijk uw antwoord op uw veelgestelde vragen."
is_hidden = 0

[contenteditor]
tools = "*"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Veelgestelde vragen</h1><br>
                {% component 'contenteditor' file="vragen/vragen-text1.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>