// .btn-lg, .btn-group-lg > .btn {
//   // position: absolute !important;
//   // left: 47%;
//   // margin: 10px;
// }

.contact-footer {
  a{
    position: absolute;
    // left: 23%;
    // top: 120%;
    // transform: translate(-50%,-50%);
    width: 150px;
    height: 60px;
    background-color: @brand-primary;
    // border: 2px solid white;
    // border-radius: 5px;
    // text-decoration: none;
    // text-align: center;
    line-height: 55px;
    // font-size: 20px;
    color: #fff;
    // transition: .5s;
    // font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    // text-transform: uppercase;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 5px 5px #222;
    border-radius: 6px;
  }

  a:active{
    //color: @brand-primary;
    background-color: darken(@brand-primary, 10%);
    box-shadow: 0px 0px #222;
    transform: translateY(4px);
  }

  // a:before{
  //   content: '';
  //   position: absolute;
  //   top: -0.1%;
  //   left: -0.1%;
  //   border-radius: 5px;
  //   background-color: #fff;
  //   width: 101%;
  //   height: 101%;
  //   z-index: -1;
  //   transition: .5s;
  //   transform: scale(0);
  // }

  // a:hover:before{
  //   color: #262626;
  //   transform: scale(1);
  // }

}