.section-footer {
  display: none;
  background-color: #333;
  color: #DDD;

  h3 {
    color: #CCC;
  }

  a {
    color: #DDD;
  }

  ul {
    list-style: none !important;
    padding-inline-start: 0px;
  }

  .container {
    .row {
      .footer-h3-placeholder {
        padding-top: 67px !important;
      }
    }
  }

  .copy {
    padding-top: 50px;
  }
}

.mobile-footer-placeholder {
  width: 100%;
  height: 100px;
  display: block;
}

.mobile-footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -10px 5px 0px rgba(50, 50, 50, 0.5);

  .mobile-footer-button {
    width: 25%;
    height: 100px;
    background-color: #ffffff;
    color: #1f3f50;
    text-align: center;
    font-size: 40px;
    float: left;
    padding-top: 5px;
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
  }
  .mobile-footer-button p {
    font-size: 16px;
  }

  .mobile-footer-button:hover {
    background-color: #3097d1;
    color: #ffffff;
  }
}

// Toggle footers on mobile devices
@media (min-width: 768px) {
  .section-footer {
    display: block
  }

  .mobile-footer-placeholder {
    display: none;
  }

  .mobile-footer {
    display: none;
  }
}

.footer-links {
  a {
    color: lightgrey;
  }

  a:hover {
    text-decoration: none;
    color: @brand-primary;
    transition: color .25s, box-shadow .15s !important;
  }
}

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  span:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
