.breadcrumb-area {
    padding-top: 180px !important;
    padding-bottom: 180px !important;
    background-size: cover !important;
    background-position: inherit !important;
    width: 100% !important;
}

.overlay {
    display: none;
}

.bread-container {
    display: none;
}