.title-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
}

.title-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.title-bestuur {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 500;
}

.title-news {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}