<p>
    29 okt '19 - Liwwadster rondje
</p>
<p>
    12 okt '19 - Grachtenrace A'dam
</p>
<p>
    5 okt '19 - Langweerder Roeirace
</p>
<p>
    28 sept '19 - Slag om Makkum
</p>
<p>
    21 sept '19 - Veersemeerrace
</p>