<p>
    3 apr - Vechten op de vecht
</p>
<p>
    afgelast - Harlingen Sloepenrace
</p>
<p>
    17 apr - Slag om de Zaan
</p>
<p>
    nnb - Sloepenrace de Woude
</p>
<p>
    24 apr - Roeisloepenrace Grou
</p>