<h2>
    <b>Slepen</b>
</h2>
<p>
    Op de ALV 2016 is aangegeven dat de sportiviteit in onze sloeproeiwereld toeneemt, maar dat er nog steeds voorbeelden van onkundig stuurmanswerk gesignaleerd worden. We gaan deze pagina vullen met tips, regels en andere zaken die van belang zijn voor het veilig en volgens de regels sturen van een sloep, waarmee we de kans op schade door aanvaringen, opstoppingen, frustratie en onsportief gedrag tot een minimum beperken.
</p>