<p class="text-left">
    <b>Vereniging Federatie Sloeproeien Nederland</b>
</p>
<p class="text-left">
    Secretariaat: Darinckdelversstraat 28, 3078 WE Rotterdam
</p>
<p class="text-left">
    IBAN: NL55 ABNA 045 261 0591
</p>
<p class="text-left">
    KvK: 40538583<br><br>Email: <a href="bestuur@federatiesloeproeien.nl">bestuur@federatiesloeproeien.nl</a>
</p>
<p class="text-left">
    <b>Website</b>
</p>
<p class="text-left">
    Jelmer Bouma
</p>
<p class="text-left">
    Email: <a href="webmaster@federatiesloeproeien.nl">webmaster@federatiesloeproeien.nl</a>
</p>
<p class="text-left">
    <b>Voor alle bestuursleden, volg <a href="http://127.0.0.1:8000/bestuur">bestuursleden</a></b>
</p>