<p>
    FSN leden zijn formele en informele verenigingen en stichtingen die het sloeproeien tot doel hebben (waaronder sloeproeiverenigingen, sloeproeiteams en wedstrijdorganisaties).
</p>
<p>
    De <i>éénmalige</i> inschrijfkosten voor een sloep bedragen <b>€ 25,-</b> en de contributie bedraagt <b>€ 6,-</b> per dol per jaar. Per sloep dient apart ingeschreven te worden.
</p>
<p>
    De jaarlijkse contributie voor een wedstrijdorganisatie bedraagt <b>€ 90,- per jaar</b>.
</p>
<p>
    <b>Bij inschrijving dient u direct te betalen via iDEAL:</b>
</p>
<img alt="ideal-logo.png" data-ce-max-width="450" height="146" src="/storage/app/media/contenteditor/ideal-logo.png" width="450">
<p>
    Voor inschrijven van een sloep, <a href="https://fd2.formdesk.com/federatiesloeproeiennederland/inschrijfformulier_FSN_sloep">klik hier &gt;&gt;</a>
</p>
<p>
    Voor inschrijven van een wedstrijdorganisatie,<a href="https://fd2.formdesk.com/federatiesloeproeiennederland/inschrijfformulier_FSN_wedstrijdorganisatie"> klik hier &gt;&gt;</a>
</p>