.container-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-white {
    background-color: #FFFFFF;
}

.section-grey {
    background-color: #EEEEEE;
}

.mobile-slider-controls {
    display: none;

    a {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .section-mobile-slider {
        width: 100%;

        .container {
            width: 100%;
            overflow: hidden;

            .mobile-slider-controls {
                display: block;
                height: 0px;

                .ms-left-button {
                    position: relative;
                    top: -200px;
                    float: left;
                }

                .ms-right-button {
                    position: relative;
                    top: -200px;
                    float: right;
                }
            }

            .row-slider {
                width: 400%;
                margin-left: 0;
                margin-right: 0;
                transition: 1s;

                .mobile-slide {
                    width: 25%;
                    float: left;
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }

    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }

    .swipe-wrap>div {
        float: left;
        width: 100%;
        position: relative;
    }
}

.pt20 {
    padding-top: 20px;
}