.navbar {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
} 

.menu-searchbox {
    float: left;
    width: 200px;
}

.nav {
    padding-right: 20px;
}