<p>
    <b>Wij willen lid worden van de FSN, wat moet ik doen?</b>
</p>
<p>
    Je kunt lid worden van de FSN door het invullen van het inschrijfformulier.
</p>
<p>
    <b>Wat zijn de kosten voor lidmaatschap?</b>
</p>
<p>
    De inschrijfkosten zijn éénmalig € 25,- en de contributie is € 4,- per dol per jaar. Inschrijven kan door het inschrijfformulier in te vullen.
</p>
<p>
    <b>Waar kan ik de sleepgegevens van onze sloep vinden?</b>
</p>
<p>
    De sleepgegevens staan in het FSN Sloepregister
</p>
<p>
    <b>Slepen, hoe gaat dat nou?</b>
</p>
<p>
    Lees in 'Jip en Janneke' taal de uitleg over het handicap systeem voor roeisloepen, download hier de .pdf Naar aanleiding van vragen tijdens de ALV 2013 is een extra toelichting geschreven.
</p>
<ul>
    <li>
        Download 'Handicap principes sloeproeien'
    </li>
    <li>
        Download 'Beschrijving sleepsoftware'
    </li>
    <li>
        Download extra toelichting 'slepen' nav ALV 2013
    </li>
</ul>
<p>
    <b>Hoe worden de sleepgegevens verwerkt?</b>
</p>
<p>
    Een beschrijving van de procedures bij het slepen van sloepen en de werking en inhoud van de sleepdataverwerkingsprogramma’s is hier te downloaden.
</p>
<p>
    <b>Ik heb een klacht, wat moet ik doen?</b>
</p>
<p>
    Je kunt je klacht vermelden op het klachtenformulier
</p>