<p>
    Dit is een grote verantwoording. Als bij een ongeval waar schade ontstaat blijkt dat de stuurman niet bekwaam was, kan dit vervelende gevolgen krijgen. Zorg dus dat er altijd een bekwame stuurman aan de helmstok staat, zowel bij de trainingen als bij de wedstrijden! 'Goed zeemanschap’ is een grondregel uit het BPR. Het betekent kortweg dat een stuurman (schipper) ten alle schade voorkomt, personen niet in gevaar brengt en een vlotte, veilige vaart niet hindert. De voorrangsregels moeten bekend zijn! Indien je met een sloep voorrang moet geven, dient bijtijds en volgens de regels uitgeweken te worden. Als je met een sloep voorrang hebt, dien je koers en vaart te houden zodat andere schepen niet in verwarring raken.
</p>
<p>
    Roeisloepen zijn niet vaarbewijsplichtig. Je hebt als stuurman dus geen Klein Vaarbewijs nodig. Dat betekent niet dat iedereen zo maar, zonder enige kennis van zaken, met een roeisloep het water op kan gaan. Het Binnenvaart Politie Reglement (BPR) is heel duidelijk: een boot mag alleen uitvaren als ze bestuurd wordt door een bekwaam persoon (artikel 1.09).
</p>