<h4 class="downloadsyear">2020</h4>
    <ul>
        <li>Sloepenregister 28 maart 2020</li>
        <li>Concept Notulen ALV feb. 2020</li>
        <li>FSN Reglement 2020 (v4.8)</li>
        <li>Handboek Wedrijdorganisaties 2020 (v1.3)</li>
        <li>Toekomstvisie klassenindeling (Presentatie ALV 2020)</li>
        <li>Voorstel aanpassing afmetingen riemen (Voorstel ALV 2020)</li>
    </ul>

<h4 class="downloadsyear">2019</h4>
    
    <ul>
        <li>Sloepenregister 31 maart 2019</li>
        <li>FSN Regelement 2019</li>
        <li>Agenda ALV</li>
    </ul>
    
<h4 class="downloadsyear">2018</h4>

    <ul>
        <li>FSN regelement 2018</li>
        <li>Sloepenregister 9-5-2018</li>
        <li>Informatiebrief Sleepproeven 2018</li>
        <li>Uitleg Correctie Sleepproeven 2018</li>
    </ul>

<h4 class="downloadsyear">2017</h4>

    <ul>
        <li>Sloepenregister 16-5-2017</li>
        <li>Technisch reglement 2017 (versie 4.5)</li>
    </ul>